<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Employee Directory</title><script type="text/javascript">
    $(function(){

    })
</script>
    <style>
        .ROOD { background:red; }
        .GEEL{ background:yellow; }
        .GROEN { background:green; }
    </style>


</head>

<body>

<div class="container">

    <h3>Employee Directory</h3>
    <hr>
    <a th:href="@{/schedule/addSchedule}"
       class="btn btn-primary btn-sm mb-3">
        Rooster Toevoegen
    </a>

    <table class="table table-dark ">


        <thead>
        <tr >
            <th scope="col">#</th>
            <th scope="col">Maandag</th>
            <th scope="col">Dinsadag</th>
            <th scope="col">Woensdag</th>
            <th scope="col">Donderdadag</th>
            <th scope="col">Vrijdag</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="temSchedule:${schedule}">
            <th scope="row">Ochtend</th>
            <td th:class="${temSchedule.getMaandagOchtend()}" th:text="${temSchedule.getMaandagOchtend()}">...</td>
            <td th:class="${temSchedule.getDinsdagOchtend()}" th:text="${temSchedule.getDinsdagOchtend()}">...</td>
            <td th:class="${temSchedule.getWoensdagOchtend()}" th:text="${temSchedule.getWoensdagOchtend()}">...</td>
            <td th:class="${temSchedule.getDonderdagOchtend()}" th:text="${temSchedule.getDonderdagOchtend()}">...</td>
            <td th:class="${temSchedule.getVrijdagOchtend()}" th:text="${temSchedule.getVrijdagOchtend()}">...</td>
        </tr>
        <tr th:each="temSchedule:${schedule}">
            <th scope="row">Middag</th>
            <td th:class="${temSchedule.getMaandagMiddag()}" th:text="${temSchedule.getMaandagMiddag()}">...</td>
            <td th:class="${temSchedule.getDinsdagMiddag()}" th:text="${temSchedule.getDinsdagMiddag()}">...</td>
            <td th:class="${temSchedule.getWoensdagMiddag()}" th:text="${temSchedule.getWoensdagMiddag()}">...</td>
            <td th:class="${temSchedule.getDonderdagMiddag()}" th:text="${temSchedule.getDonderdagMiddag()}">...</td>
            <td th:class="${temSchedule.getVrijdagMiddag()}" th:text="${temSchedule.getVrijdagMiddag()}">...</td>

        </tr>
        <tr th:each="temSchedule:${schedule}">
            <th scope="row">Avonds</th>
            <td th:class="${temSchedule.getMaandagAvond()}" th:text="${temSchedule.getMaandagAvond()}">...</td>
            <td th:class="${temSchedule.getDinsdagAvond()}" th:text="${temSchedule.getDinsdagAvond()}">...</td>
            <td th:class="${temSchedule.getWoensdagAvond()}" th:text="${temSchedule.getWoensdagAvond()}">...</td>
            <td th:class="${temSchedule.getDonderdagAvond()}" th:text="${temSchedule.getDonderdagAvond()}">...</td>
            <td th:class="${temSchedule.getVrijdagAvond()}" th:text="${temSchedule.getVrijdagAvond()}">...</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>