<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Schedule</title>
</head>

<body>

<div class="container">

    <h3>Niuewe Rooster</h3>
    <hr>

    <p class="h4 mb-4">Rooster Beschickbaarheid Toevoegenn</p>

    <form action="#" th:action="@{/schedule/save}"
          th:object="${schedule}" method="POST">
        <div class="container">
            <div class="col-lg-4 col-lg-offset-4 ">
                <div class="input-group mb-3">
                    <input type="hidden" th:field="*{user.id}" >
                    <input type="hidden" th:field="*{id}" >
                    <!--<div class="col-lg-3">-->
                        <!--<select class="form-control" id="testOrder" name="testOrder">-->
                            <!--<option value="">Select Test Order</option>-->
                            <!--<option th:each="test : ${cohorts}"-->
                                    <!--th:value="*{cohort}"-->
                                    <!--th:text="${test.cohortId}"></option>-->
                        <!--</select>-->
                    <!--</div>-->

                    <input type="number" th:field="*{cohort}" placeholder="Cohort">
                </div>
                <table class="table table-dark ">

                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Maandag</th>
                        <th scope="col">Dinsadag</th>
                        <th scope="col">Woensdag</th>
                        <th scope="col">Donderdadag</th>
                        <th scope="col">Vrijdag</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <th scope="row">Ochtend</th>
                        <td>
                            <input type="text" th:field="*{maandagOchtend}" name="ColorOption" placeholder="Beschikbaarheid?">
                        </td>
                        <td>
                            <input type="text" th:field="*{dinsdagOchtend}" name="ColorOption" placeholder="Beschikbaarheid?">
                        </td>
                        <td>
                            <input type="text" th:field="*{woensdagOchtend}" placeholder="Beschikbaarheid?">
                        </td>
                        <td>
                            <input type="text" th:field="*{donderdagOchtend}" placeholder="Beschikbaarheid?">
                        </td>
                        <td>
                            <input type="text" th:field="*{vrijdagOchtend}"  placeholder="Beschikbaarheid?">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Middag</th>
                        <td>
                            <input type="text" th:field="*{maandagMiddag}"  placeholder="Beschikbaarheid?">
                        </td>
                        <td>
                            <input type="text" th:field="*{dinsdagMiddag}" placeholder="Beschikbaarheid?">
                        </td>
                        <td>
                            <input type="text" th:field="*{woensdagMiddag}" placeholder="Beschikbaarheid?">
                        </td>
                        <td>
                            <input type="text" th:field="*{donderdagMiddag}"  placeholder="Beschikbaarheid?">
                        </td>
                        <td>
                            <input type="text" th:field="*{vrijdagMiddag}" placeholder="Beschikbaarheid?">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Avond</th>
                        <td>
                            <input type="text" th:field="*{maandagAvond}" placeholder="Beschikbaarheid?">
                        </td>
                        <td>
                            <input type="text" th:field="*{dinsdagAvond}"  placeholder="Beschikbaarheid?">
                        </td>
                        <td>
                            <input type="text" th:field="*{woensdagAvond}"  placeholder="Beschikbaarheid?">
                        </td>
                        <td>
                            <input type="text" th:field="*{donderdagAvond}"  placeholder="Beschikbaarheid?">
                        </td>
                        <td>
                            <input type="text" th:field="*{vrijdagAvond}"  placeholder="Beschikbaarheid?">
                        </td>
                    </tr>

                    </tbody>
                </table>
                <P>
                    <INPUT TYPE="SUBMIT" VALUE="Submit" NAME="B1">
                </P>
            </div>
        </div>
    </form>

    <hr>
    <a th:href="@{/helloTeacher}">Terug naar Main Menu</a>

</div>
</body>

</html>










