<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Schedule</title>
</head>
<body>
    <div class="container">
        <a th:href="@{/schedule/addSchedule}"
           class="btn btn-primary btn-sm mb-3">
            Rooster Toevoegen
        </a>
    </div>
    <div class="container">
        <table class="table table-dark ">
            <thead>
                <tr>
                    <th scope="col">Cohort</th>
                    <th scope="col">Begin Datum</th>
                    <th scope="col">Eind Datum</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="cohorts:${cohorts}">
                <td th:text="${cohorts.cohortId}"> </td>
                <td th:text="${cohorts.beginDate}"> </td>
                <td th:text="${cohorts.endDate}"> </td>
                <td>
                    <a th:href="@{'/schedule/list/'+ ${cohorts.cohortId}}"
                       class="btn btn-info btn-sm" >
                        View
                    </a>
                </td>
            </tr>
            </tbody>


        </table>

        <a class="btn btn-secondary" th:href="@{/helloTeacher}">Terug naar Main Menu</a>

    </div>


</body>
</html>