<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vacature Overzicht</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="nav-link" href="/helloTeacher">MIJN INZET HOME</a>
    <a class="nav-link" href="/showTasks">VACATUREBEHEER</a>
    <a class="navbar-brand" href="/applicationBasket">SOLLICITATIEMAND</a>
    <a class="nav-link" href="/schedule">ROOSTERBEHEER</a>
    <a class="nav-link" href="/showSubjects">VAKKENBEHEER</a>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-lg btn-primary">Log Out</button>
        <!--    <a class="nav-link" type="submit">UITLOGGEN</a>-->
    </form>
</nav>




<div class="row">
    <div class="table-responsive col-sm-10">
        <table id="taskTable" class="table table-striped">

            <tablehead>
                <h6 class="Sollicitaties">SOLLICITATIES</h6>
                <tr>
                    <th>Taak_ID</th>
                    <th>Taakbeschrijving</th>
                    <th>Begrootte uren</th>
                    <th>Datum sollicitatie</th>
                    <th>Naam sollicitant</th>
                    <th>Opgegeven uren</th>

                </tr>
            </tablehead>

            <tablebody>
                <tr th:each="appl:${applicationBasket}">
                    <td th:text="${appl.tId}">TaskID</td>
                    <td th:text="${appl.tName}">TaskName</td>
                    <td th:text="${appl.estHours}">estimhours</td>
                    <td th:text="${appl.date}">estimhours</td>
                    <td th:text="${appl.fName}">FullName</td>
                    <td th:text="${appl.availHours}">availHours</td>
                </tr>
            </tablebody>

        </table>
    </div>
</div>
</form>


</body>
</html>