<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vacature Overzicht</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Mijn inzet: SOLLICITATIEMAND</a>
    <a class="nav-link" href="/showTasks">VAKATUREBEHEER</a>
    <a class="nav-link" href="/schedule">ROOSTERBEHEER</a>
    <a class="nav-link" href="/showSubjects">VAKKENBEHEER</a>
    <a class="nav-link" href="/hello"><h6>HOOFDMENU</h6></a>
    <a class="nav-link" href="/hello"><h6>UITLOGGEN</h6></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">terug naar HOOFDMENU</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">BEHEER ROOSTER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">BEHEER VAKKEN</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
            </li>
        </ul>
    </div>
</nav>






<div class="row">
    <div class="table-responsive col-sm-6">
        <table id = showTaskTable class="table table-striped">
            <h6 class="SOLLICITATIES">SOLLICITATIES</h6>



            <tablehead>
                <h id="IDS"></h>
               <tr>
                    <th> Vacaturenr </th>
                    <th> Vacaturetitel </th>
                    <th>              </th>
                </tr>
            </tablehead>

            <tablebody>
                <tr>
                    <td text="">Vacaturenr</td>
                    <td text="">Vacaturetitel</td>
                    <td>
                        <div>
                            <input type="submit" value=" verwijder " name="subscribe" id="mc-embedded-subscribe"
                                   class="btn btn-info" onclick="this.value='verwijderd!';
                       this.style.backgroundColor='red';">

                            </input>
                        </div>
                    </td>
                </tr>
            </tablebody>
        </table>
    </div>
</div>


<script src = brahimTask.js ></script>
</body>
</html>