<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cohort</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <title>Title</title>
</head>
<body>

<!-- Navigatie-menu -->

<form>
    <nav class="navbar navbar-dark bg-dark">
        <a class="nav-link" href="/helloTeacher">MIJN INZET HOME</a>
        <a class="nav-link" href="/showTasks">VACATUREBEHEER</a>
        <a class="nav-link" href="/applicationBasket">MIJN SOLLICITATIES</a>
        <a class="navbar-brand" href="/schedule">MIJN ROOSTER VOORKEUREN</a>
        <a class="nav-link" href="/showSubjects">VAKKENBEHEER</a>
        <!--<form th:action="@{/logout}" method="post">-->
        <!--<button type="submit" class="btn btn-lg btn-primary">Log Out</button>-->
        <!--    <a class="nav-link" type="submit">UITLOGGEN</a>-->
    </nav>
</form>

<br><br>

<div class="container">
    <div class="row">
        <div class="container">
            <div class="col-sm-12">
                <br>
                <h3>Geef nieuw cohort op  </h3>
                <br>

                <form action="#" th:action="@{/cohort/createCohort/new/}" th:object="${cohort}" method="post">

                    <label class="form-group ">
                        <label class="control-label"/> </label>
                    <div class="input-group">
                        <input type="number" placeholder="Selecteer cohort"
                               th:field="*{cohortId}"/>
                    </div>
                    </label>
                  <label class="form-group  ">
                        <label class="control-label" th:text="begindatum">Begindatum</label>
                        <div class="input-group">
                            <input type="date" id="beginDate" name="beginDate"
                                   placeholder="MM/DD/YYY" th:field="*{beginDate}"/>
                        </div>
                    </label>

                    <label class="form-group  ">
                        <label class="control-label" th:text="einddatum">Einddatum</label>
                        <div class="input-group">
                            <input type="date" id="ëndDate" name="ëndDate"
                                   placeholder="MM/DD/YYY" th:field="*{endDate}"/>
                        </div>
                    </label>
<br><br>
                    <div class="form-group ">
                        <button class="btn btn-success " name="submit" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<br><br>
<div class="row">
    <div class="container">
        <div class="table-responsive col-sm-12">
            <table id="CohortTable2" class="table table-bordered">
                <h3>Bestaande Cohorten</h3>
                <tablehead>
                    <thead class="thead-dark">
                    <tr>
                        <th>Cohort</th>
                        <th> Begindatum</th>
                        <th> Einddatum</th>
                    </tr>
                    </thead>
                </tablehead>

                <tablebody>
                    <tr th:each="cohort:${allCohorts}">
                        <td th:text="${cohort.cohortId}">cohortid</td>
                        <td th:text="${#temporals.format(cohort.beginDate, 'dd/MMM/yyyy')}"> begindatum</td>
                        <td th:text="${#temporals.format(cohort.endDate, 'dd/MMM/yyyy')}">einddatum</td>
                    </tr>
                </tablebody>
            </table>
        </div>

    </div>
</div>
</div>

<!--<div class="bootstrap-iso">-->
<!--<div class="container-fluid">-->
<!--<form action="#" th:action="@{cohort/createCohort/new/}" th:object="${cohort}" method="post">-->

<!--<h3 style="color: blue">Geef nieuw cohort op : </h3>-->
<!--<br>-->

<!--<div class = "row">-->
<!--<div class="col-md-2 col-sm-4 col-xs-6">-->
<!--<tr>-->
<!--<td><label th:text="id" />Cohort nummer </td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td><input type="number" th:field="*{cohortId}" /></td>-->
<!--</tr>-->
<!--</div>-->
<!--</div>-->
<!--<br><br>-->


<!--<div class="row">-->
<!--<div class="col-md-6 col-sm-6 col-xs-12">-->
<!--<div class="form-group ">-->
<!--<label class="control-label requiredField" for="beginDate">-->
<!--Begindatum-->
<!--<span class="asteriskField"></span>-->
<!--</label>-->
<!--<div class="input-group">-->
<!--<div class="input-group-addon">-->
<!--<i class="fa fa-calendar">-->
<!--</i>-->
<!--</div>-->
<!--<input class="form-control" id="beginDate" name="beginDate" th:field="*{beginDate}" placeholder="DD/MM/YYYY"-->
<!--type="text"/>-->
<!--</div>-->
<!--<div class="form-group ">-->
<!--<label class="control-label " for="endDate">-->
<!--Einddatum-->
<!--</label>-->
<!--<div class="input-group">-->
<!--<div class="input-group-addon">-->
<!--<i class="fa fa-calendar">-->
<!--</i>-->
<!--</div>-->
<!--<input class="form-control" id="endDate" name="endDate" th:field="*{endDate}" placeholder="DD/MM/YYYY"-->
<!--type="text"/>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<div>-->
<!--<button class="btn btn-success " name="submit" type="submit">-->
<!--Submit-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->

<!--</div>-->
<!--</div>-->


<!--<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>-->

<!--&lt;!&ndash; Include Date Range Picker &ndash;&gt;-->
<!--<script type="text/javascript"-->
<!--src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>-->
<!--<link rel="stylesheet"-->
<!--href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>-->

<!--<script>-->
<!--$(document).ready(function () {-->
<!--var date_input_begin = $('input[name="beginDate"]'); //our date input has the name "date"-->
<!--var date_input_end = $('input[name="endDate"]');-->
<!--var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";-->
<!--date_input_begin.datepicker({-->
<!--format: 'dd/mm/yyyy',-->
<!--container: container,-->
<!--todayHighlight: true,-->
<!--autoclose: true,-->
<!--}),-->
<!--date_input_end.datepicker({-->
<!--format: 'dd/mm/yyyy',-->
<!--container: container,-->
<!--todayHighlight: true,-->
<!--autoclose: true,-->
<!--})-->
<!--})-->
<!--$('#sandbox-container .input-daterange').datepicker({});-->

<!--</script>-->


</body>
</html>