<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"> 
    <head>  
        <title>Forgot Password</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Overview Users</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/myclass.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/logo.css}"/>
    </head>  

    <body  class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <div class="jumbotron">
                    <!--                <h1 class="masthead-brand">Mijn Inzet</h1>-->

                    <img th:src="@{/images/logoo.jpg} " th:width="200px" th:height="200px" >
                </div>
            </div>
        </header>
    </div>
    <div  class="container" style="width:40%;!important;">

            <form action="#" th:action="@{/forgot-password}" th:object="${user}" method="post">  

                <table class="table table-bordered table-striped" style="background-color:	#D5D6E8;color: black">
                    <thead style="background-color: #555D9C;color: black;!important;">
                    <tr>
                        <td><label style="color: white;!important;" for="email">Email</label></td>
                        <td><input  th:field="*{email}" type="text" name="email" >
                    </tr>
                    </thead>
                    <tbody >
                    <td><input type="reset" value="Clear"/></td>
                    <td><input type="submit" value="Reset Password"></input></td>

                    </tbody>
                </table>
            </form>
    </div>
    </body>  
</html>  
