<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welkomstscherm</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>

</head>

<body>

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/helloAdmin">HOME</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/users/list">OVERZICHT & BEHEER GEBRUIKERS</a></li>
                    <li><a href="/register">NIEUWE GEBRUIKER</a></li>
                    <li><a href="/cohort/createCohort">BEHEER COHORTEN</a></li>
                </ul>
                <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Log Out</button>
                </form>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>


<br><br><br>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <div class="jumbotron">
<!--            <h1 class="masthead-brand">Mijn Inzet</h1>-->
                <img th:src="@{/images/logomyinzet.png}"/>
            </div>
            <nav class="nav nav-masthead justify-content-center">
                <!--<a class="nav-link active" href="#">link</a>-->
                <!--<a class="nav-link" href="#">link</a>-->
                <!--<a class="nav-link" href="#">link</a>-->
            </nav>
        </div>
    </header>

    <main roleName="main" class="inner cover">
        <h1 class="cover-heading">Welkom </h1>
        <span style="color: blue" th:text="${user}"></span>
        <h3>Je bent ingelogd als administrator</h3>


        <p class="lead">Je kunt hier gebruikers zien </p>
        <p class="lead">
            <a href="/users/list" class="btn btn-lg btn-primary">Overzicht gebruikers </a>
        </p>
    </main>


</div>


</body>
<footer class="mastfoot mt-auto">
    <div class="inner">
        <br><br>
        <p><address>voorjaar 2019<br>Team 3 NoPressure: Esther, Brahim, Semih, Ozgur, Hans</address></p>
    </div>
</footer>
</body>
</html>