<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welkomstscherm</title>
<!--    <link rel="stylesheet" type="text/css" th:href="mystyle.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/helloTeacher">MIJN INZET HOME</a>
    <a class="nav-link" href="/showTasks">VACATUREBEHEER</a>
    <a class="nav-link" href="/applicationBasket">MIJN SOLLICITATIES</a>
    <a class="nav-link" href="/schedule">MIJN ROOSTER VOORKEUREN</a>
    <a class ="nav-link" href="/cohort/createCohort">MAAK NIEUW COHORT</a>
    <a class="nav-link" href="/showSubjects">VAKKENBEHEER</a>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-lg btn-primary">Log Out</button>
        <!--    <a class="nav-link" type="submit">UITLOGGEN</a>-->
    </form>
</nav>

<!-- Hoofdtekst -->
<h3>Welkom .... Je bent ingelogd als administrateur</h3>
<!--<h1>MijnInzet de roosteraar applicatie</h1>-->
<!--<h2></h2>-->
<!--<p></p>-->

<!-- Navigatie-menu -->
<!--<ul class="navbar">-->
<!--    <li><a href="showTasks">Ga naar vactureoverzicht</a></li>-->
<!--    <li><a href="showSubjects">Ga naar vakkenvoorkeur</a></li>-->
<!--    <li><a href="addUsers">Voeg gebruiker toe</a></li>-->
<!--    <li><a href="schedule"> Ga naar weekrooster</a></li>-->
<!--</ul>-->

<!-- Onderteken en dateer de pagina, wees beleefd! -->
<address>voorjaar 2019<br>Team 3 NoPressure: Esther, Brahim, Semih, Ozgur, Hans</address>
<!--<form th:action="@{/logout}" method="post">-->
<!--    <button type="submit" class="btn btn-lg btn-primary">Log Out</button>-->
<!--</form>-->

</body>
</html>