<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welkomstscherm</title>
<!--    <link rel="stylesheet" type="text/css" th:href="mystyle.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<!-- Hoofdtekst -->
<h1>MijnInzet de roosteraar applicatie</h1>
<h2>Team 3 NoPressure</h2>
<h3>Esther, Brahim, Semih, Ozgur, Hans</h3>

<!-- Navigatie-menu -->
<ul class="navbar">
    <li><a href="showTasks">Ga naar vactureoverzicht</a></li>
    <li><a href="addUsers">Voeg gebruiker toe</a></li>
    <li><a href="/schedule"> Ga naar weekrooster</a></li>
</ul>

<!-- Onderteken en dateer de pagina, wees beleefd! -->
<address>voorjaar 2019<br></address>

</body>
</html>