<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welkomstscherm</title>
<!--    <link rel="stylesheet" type="text/css" th:href="mystyle.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Hoofdtekst -->
<h1>MijnInzet de roosteraar applicatie</h1>
<h2>Team 3 NoPressure</h2>
<p>Esther, Brahim, Semih, Ozgur, Hans</p>

<!-- Navigatie-menu -->
<ul class="navbar">
    <li><a href="showTasks">Ga naar vactureoverzicht</a></li>
    <li><a href="showSubjects">Ga naar vakkenvoorkeur</a></li>
    <li><a href="addUsers">Voeg gebruiker toe</a></li>
    <li><a href="schedule"> Ga naar weekrooster</a></li>
</ul>

<!-- Onderteken en dateer de pagina, wees beleefd! -->
<address>voorjaar 2019<br></address>
<form th:action="@{/logout}" method="post">
    <button type="submit" class="btn btn-lg btn-primary">Log Out</button>
</form>

</body>
</html>