<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Mijn Inzet: Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>
<body>

<div class="container" >
    <nav class="navbar navbar-default" style="height: 30px;!important;">
    </nav>
</div>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img img th:src="@{/images/logoo.jpg} " class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form th:action="@{/login}" method="POST" >
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" id="email" name="email" th:placeholder="Email" class="form-control input_user" />
                        </div>

                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>

                            <input type="password" th:placeholder="Password" id="password" name="password" class="form-control input_pass" /> <br />
                        </div>

                        <div align="center" th:if="${param.error}">
                            <p style="font-size: 20px; color: #FF1C19;">Email or Password is invalid.</p>
                        </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input  type="checkbox" class="custom-control-input" name="remember-me" id="customControlInline" />
                            <label class="custom-control-label" for="customControlInline">Remember me?</label>
                        </div>
                    </div>
                        <div class="d-flex justify-content-center mt-3 login_container">

                            <button class="btn login_btn" name="Submit" value="Login" type="Submit" th:text="Login" ></button>
                        </div>
                    </div>
                </form>
                <div class="mt-4">
                    <div class="d-flex justify-content-center links forgot">
                        <a href="/forgot-password">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>