<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooster</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<!-- Navigatie-menu -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<ul>
    <li><a href="//localhost:8081/showTasks/">Ga naar vactureoverzicht</a></li>
    <li><a href="//localhost:8081/schedule/"> Ga naar weekrooster</a></li>
    <li><a href="hello">Ga naar hoofdmenu</a></li>
</ul>
<div class="container">

    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Cohort
        </button>

        <form action="/schedule" method="POST">
            <button type="submit">Create new schedule</button>
        </form>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">dagdeel</th>
            <th scope="col">maandag</th>
            <th scope="col">dinsdag</th>
            <th scope="col">woensdag</th>
            <th scope="col">donderdag</th>
            <th scope="col">vrijdag</th>
            <th scope="col">zaterdag</th>
            <th scope="col">zondag</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">ochtend</th>
            <td>Wiskunde</td>
            <td>Programmeren</td>
            <td>Programmeren</td>
            <td>Advanced Programming</td>
            <td>Advanced Programming</td>
        </tr>
        <tr>
            <th scope="row">begin middag</th>
            <td>Databases</td>
            <td>Databases</td>
            <td>OOP</td>
            <td>Advanced Programming</td>
            <td>Advanced Programming</td>
        </tr>
        <tr>
            <th scope="row">eind middag</th>
            <td>Vrij</td>
            <td>OOP</td>
            <td>Advanced Programming</td>
            <td>Advanced Programming</td>
            <td>Vrij</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>