<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Vacature Overzicht</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="nav-link" href="/helloTeacher">MIJN INZET HOME</a>
    <a class="navbar-brand" href="/showTasks">VACATUREBEHEER</a>
    <a class="nav-link" href="/applicationBasket">MIJN SOLLICITATIES</a>
    <a class="nav-link" href="/schedule">ROOSTERBEHEER</a>
    <a class="nav-link" href="/showSubjects">VAKKENBEHEER</a>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-lg btn-primary">Log Out</button>
        <!--    <a class="nav-link" type="submit">UITLOGGEN</a>-->
    </form>
</nav>


    <div class="table-responsive col-sm-8">
        <table id="taskTable" class="table table-bordered">
            <h2 class="Vacatures">VACATURES</h2>
            <tablehead>
                <thead class="thead-dark">
                <tr>
                    <th>Vacature_nr</th>
                    <th> VacatureOmschrijving</th>
                    <th>Begrootte Uren</th>
                    <th>Geldigheidsduur</th>
                    <th>Geef jouw uren op</th>
                    <th>   Solliciteer   </th>
                </tr>
                </thead>
            </tablehead>

            <tablebody>
                <tr th:each="task:${showTasks}">

                    <form th:id="${task.taskId}" th:action="@{/taskApplications/taskId/availableHours}" method="post">
                        <td>
                        <input type="${task.taskId}" NAME ="taskId" id= "taskId" style="background-color:
                        transparent;border: #FF1C19" th:value="${task.taskId}" size="4" readonly/>
                        </td>
                        <td th:text="${task.taskName}">Taak</td>
                        <td th:text="${task.estimatedHours}">Begrootte Uren</td>
                        <td th:text="${task.yearsToExpiryDate}">Geldigheidsduur</td>
                        <td>
                        <input TYPE="text" NAME ="availableHours" id= "availableHours"
                               th:value="${task.estimatedHours}" SIZE="11" th:form = "${task.taskId}" style="background-color: transparent;
                           border-color: brown;border-style:solid;text-align: center"  />
                        </td>

                        <td>
                        <div>
                            <button type="submit" class="btn btn-info" th:value="${task.taskId}"
                                th:id="${task.taskId}" th:form = "${task.taskId}"> klik hier </button>
                        </div>
                        </td>
                    </form>
                   </tr>
            </tablebody>
        </table>
    </div>

</body>
</html>