<!DOCTYPE html>
<html lang="en" xmlns:th ="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vacature Overzicht</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>

<body>
<h2> TaakOverzicht</h2>
<h3> Klik op taak als je wilt solliciteren</h3>
<table id="TaskTable">
    <tr>
        <th>Taak_nr</th>
        <th>Taak</th>
        <th>Begrootte Uren</th>
        <th>Geldigheidsduur</th>
    </tr>

    <tr th:each="task:${showTasks}">
        <td th:text="${task.taskId}">Taak_nr</td>
        <td th:text="${task.taskName}">Taak</td>
        <td th:text="${task.estimatedHours}">Begrootte Uren</td>
        <td th:text="${task.yearsToExpiryDate}">Geldigheidsduur</td>
    </tr>


</table>

</body>
</html>