<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vacature Overzicht</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Mijn Inzet: VACATUREBEHEER</a>
    <a class="nav-link" href="/applicationBasket">SOLLICITATIEMAND</a>
    <a class="nav-link" href="/schedule">ROOSTERBEHEER</a>
    <a class="nav-link" href="/showSubjects">VAKKENBEHEER</a>
    <a class="nav-link" href="/hello"><h6>HOOFDMENU</h6></a>
    <a class="nav-link" href="/hello"><h6>UITLOGGEN</h6></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">terug naar HOOFDMENU</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">BEHEER ROOSTER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">BEHEER VAKKEN</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
            </li>
        </ul>
    </div>
</nav>





<div class="row">
        <div class="table-responsive col-sm-6">
<table class="table table-striped">

    <tablehead>
        <h6 class="Vacatures">VACATURES</h6>
    <tr>
        <th>Vacature_nr</th>
        <th> VacatureOmschrijving</th>
        <th>Begrootte Uren</th>
        <th>Geldigheidsduur</th>
        <th>SOLLICITATIEMAND</th>
    </tr>
    </tablehead>

    <tablebody>
    <tr th:each="task:${showTasks}">
        <td th:text="${task.taskId}">Taak_nr</td>
        <td th:text="${task.taskName}">Taak</td>
        <td th:text="${task.estimatedHours}">Begrootte Uren</td>
        <td th:text="${task.yearsToExpiryDate}">Geldigheidsduur</td>

        <td>
            <div>
                <input type="submit" value="   voeg toe   " name="subscribe" id="mc-embedded-subscribe"
                       class="btn btn-info" onclick="this.value='toegevoegd';
                       this.style.backgroundColor='green';">

                </input>
            </div>
        </td>

    </tr>
    </tablebody>

</table>
    </div>
</div>


<script src = brahimTask.js ></script>
</body>
</html>