<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <link rel="stylesheet" type="text/css" th:href="mystyle.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>ManageSubject</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

    </div>
</nav>

<h2>Voorkeur voor beschikbaarheid per vak opgeven</h2>

<a href="hello">Ga naar hoofdmenu</a>

<h3> Klik op het vak om je voorkeur op te geven</h3>
<table id="SubjectTable">
    <tr>
        <th>Vaknummer</th>
        <th>Vak</th>
        <th>Begrootte Uren</th>
        <th>Geldigheidsduur</th>
    </tr>

    <tr th:each="subject:${showSubjects}">
        <td th:text="${subject.subjectId}">-1</td>
        <td th:text="${subject.subjectName}">-1</td>
        <td th:text="${subject.estimatedHours}">-1</td>
        <td th:text="${subject.yearsToExpiryDate}">-1</td>
    </tr>

</table>
</body>
</html>