<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <link rel="stylesheet" type="text/css" th:href="mystyle.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Manage Subject</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="nav-link" href="/helloTeacher">MIJN INZET HOME</a>
    <a class="nav-link" href="/showTasks">VACATUREBEHEER</a>
    <a class="nav-link" href="/applicationBasket">SOLLICITATIEMAND</a>
    <a class="nav-link" href="/schedule">ROOSTERBEHEER</a>
    <a class="navbar-brand" href="#">VAKKENBEHEER</a>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-lg btn-primary">Log Out</button>
        <!--    <a class="nav-link" type="submit">UITLOGGEN</a>-->
    </form>
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"-->
<!--            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarNavDropdown">-->
<!--        <ul class="navbar-nav">-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" href="#">home<span class="sr-only">(current)</span></a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">terug naar HOOFDMENU</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">BEHEER ROOSTER</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">BEHEER VAKKEN</a>-->
<!--            </li>-->

<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"-->
<!--                   aria-haspopup="true" aria-expanded="false">-->
<!--                    Dropdown link-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
</nav>

<h5 class="Vakkenvoorkeur">Klik op de buttons om je voorkeur op te geven</h5>

<div class="row">
    <div class="table-responsive col-sm-6">
        <table id="SubjectTable" class="table table-striped">

                <tr>
                    <th>Vaknummer</th>
                    <th>Vak</th>
                    <th>Begrootte Uren</th>
                    <th>Geldigheidsduur</th>
                    <th>Geef Voorkeur op</th>
                </tr>

                <tr th:each="subject:${showSubjects}">
                    <td th:text="${subject.subjectId}">-1</td>
                    <td th:text="${subject.subjectName}">-1</td>
                    <td th:text="${subject.estimatedHours}">-1</td>
                    <td th:text="${subject.yearsToExpiryDate}">-1</td>
                    <td>
                        <div>
                            <input type="submit" value="Geef je voorkeur op" name="addPref" id="mc-embedded-subscribe"
                                   class="btn btn-info" onclick="this.value='Voorkeur is opgegeven';
                       this.style.backgroundColor='green';">
                            </input>
                        </div>
                    </td>
                </tr>

        </table>
    </div>
</div>
</body>
</html>