<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Docenten FTE </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/helloTeacher">HOME</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/teacherFTE">MIJN URENOVERZICHT</a></li>
                    <li><a href="/showTasks">VACATURBEHEER</a></li>
                    <li><a href="/applicationBasket">MIJN SOLLICITATIES</a></li>
                    <li class="dropdown">
                        <a href="https://www.jquery-az.com/bootstrap-tips-tutorials/" class="dropdown-toggle"
                           data-toggle="dropdown" roleName="button" aria-haspopup="true" aria-expanded="false">MIJN VAK &
                            ROOSTER VOORKEUREN <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/schedule/listCohort">Mijn Rooster Voorkeuren</a></li>
                            <li><a href="/showSubjects">Mijn Vak Voorkeuren</a></li>
                        </ul>
                    </li>
                    <li><a href="/applicationBasket">INCIDENTEN</a></li>
                </ul>
                <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Log Out</button>
                </form>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>


<div class="container">
    <br><br>
    <h3>Docent Uren Overzicht</h3>
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>

            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>FTE</th>
            <th>Beschikbare onderwijsuren</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${voornaam}"/>
            <td th:text="${achternaam}"/>
            <td th:text="${fte}"/>
            <td th:text="${beschikbareUren}"/>
        </tr>

        <!--<a th:href="@{/users/showFormForUpdate(userId=${user.id})}" class="btn btn-info btn-sm">Update</a>-->
        <!--<a th:href="@{/users/delete(userId=${user.id})}" class="btn btn-danger btn-sm" onclick="if(!(confirm('Are you sure you want to delete this user?')) ) return false">Delete</a>-->
        <!--</td>-->
        </tbody>
    </table>
    <hr>
</div>

<div class="container">
    <div class="row">
            <form class="form-group md-6">
                <div class="col-md-3">
                <label mr-sm-4><h3>  Kies cohort </h3> </label>
                <select id="cohortId" class="form-control md-6">
                    <option class="col-md-6" th:each="cohort: ${cohorts}" th:text="${cohort.toString()}"></option>
                </select>
                    <br>
                <button type="submit" onclick="fillSchedule()" class="btn btn-success">kies</button>
                </div>
            </form>
    </div>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <table class="table table-hover" id="teacher-schedule">
                <thead>
                <tr>
                    <th scope="col">Dagdeel</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Ochtend</th>
                </tr>
                <tr>
                    <th scope="row">Middag</th>
                </tr>

                </tbody>

            </table>
        </div>


        <div class="col-md-2">
            <table class="table table-hover">
                <tr>
                    <th scope="col"> Maandag</th>
                </tr>
                <tr>
                    <td th:text="${cohortSchedule.get(1).getSubject().getSubjectName()}"></td>
                </tr>
                <tr>
                    <td th:text="${cohortSchedule.get(2).getSubject().getSubjectName()}"></td>
                </tr>

            </table>
        </div>

        <div class="col-md-2">
            <table class="table table-hover">
                <tr>
                    <th scope="col">Dinsdag</th>
                </tr>
                <td th:text="${cohortSchedule.get(3).getSubject().getSubjectName()}"></td>


                </tr>
            </table>
        </div>

        <div class="col-md-2">
            <table class="table table-hover">
                <tr>
                    <th scope="col">Woensdag</th>
                </tr>
                <!--<tr th:each="woensdag:${woensdag}">-->
                <!--<td th:text="${woensdag.colorOption}">Woensdag</td>-->
                </tr>
            </table>

        </div>
        <div class="col-md-2">
            <table class="table table-hover" id="TaskTable4">
                <tr>
                    <th scope="col">Donderdag</th>
                </tr>
                <!--<tr th:each="donderdag:${donderdag}">-->
                <!--<td th:text="${donderdag.colorOption}">Donderdag</td>-->
                </tr>
            </table>
        </div>

        <div class="col-md-2">
            <table class="table table-hover" id="TaskTable5">
                <tr>
                    <th scope="col">Vrijdag</th>
                </tr>
                <!--<tr th:each="vrijdag:${vrijdag}">-->
                <!--<td th:text="${vrijdag.colorOption}">vrijdag</td>-->
                </tr>

            </table>

        </div>
    </div>
</div>

<script>

    let request = new XMLHttpRequest();


</script>

</body>
</html>