<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Docenten FTE </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/helloTeacher">HOME</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/teacherFTE">ROOSTER</a></li>
                    <li><a href="/showTasks">VACATURBEHEER</a></li>
                    <li><a href="/applicationBasket">MIJN SOLLICITATIES</a></li>
                    <li class="dropdown">
                        <a href="https://www.jquery-az.com/bootstrap-tips-tutorials/" class="dropdown-toggle"
                           data-toggle="dropdown" roleName="button" aria-haspopup="true" aria-expanded="false">MIJN VAK
                            &
                            ROOSTER VOORKEUREN <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/schedule/listCohort">Mijn Rooster Voorkeuren</a></li>
                            <li><a href="/showSubjects">Mijn Vak Voorkeuren</a></li>
                        </ul>
                    </li>
                    <li><a href="/applicationBasket">INCIDENTEN</a></li>
                </ul>
                <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Log Out</button>
                </form>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>


<div class="container">
    <br><br>
    <h3>Docent Uren Overzicht</h3>
    <hr>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>

            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Email</th>
            <th>FTE</th>
            <th>Beschikbare onderwijsuren</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${voornaam}"/>
            <td th:text="${achternaam}"/>
            <td th:text="${email}"/>
            <td th:text="${fte}"/>
            <td th:text="${beschikbareUren}"/>
        </tr>
        </tbody>
    </table>
    <hr>
</div>

<div class="container">
    <br><br>
    <h3>ROOSTER</h3>
    <hr>
    <div class="row">
        <form class="form-horizontal" th:action="@{/teacherSchedule/cohort}">
            <div class="col-md-6">
                <label mr-sm-4><h3> Kies Cohort </h3></label>
                <select id="cohortId" name="cohortId" class="form-control md-6" onchange="cohortSelect()">
                    <option class="col-md-10" th:each="cohort: ${cohorts}" th:value="${cohort.getCohortId()}"
                            th:text="${cohort}"></option>
                </select>
                <br>
                <button type="submit" class="btn btn-success">kies</button>
            </div>
        </form>

        <form class="form-horizontal" th:action="@{/teacherSchedule/week}">
            <div class="col-md-4">
                <label mr-sm-4><h3> Kies Week </h3></label>
                <select id="weeknr" name="weeknr" class="form-control md-6">
                    <option class="col-md-10" th:each="week: ${weken}" th:value="${week}"
                            th:text="${week}"></option>
                </select>

                <select id="dropdown" name="dropdown"> dropdown
                </select>
                <br>
                <button type="submit" class="btn btn-success">kies</button>
            </div>
        </form>
        <select id="dropdown2" name="dropdown"> dropdown
        </select>
    </div>
</div>


<br><br>

<div class="container">
    <br>

    <table class="table table-striped">

        <thead class="thead-dark">
        <tr>
            <th scope="col">COHORT</th>
            <th scope="col">DATUM</th>
            <th scope="col">DAG</th>
            <th scope="col">DAGDEEL</th>
            <th scope="col">DOCENT</th>
            <th scope="col">VAK</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="cohortscheduleline:${week}">
            <td style="color: #bb0502" th:text="${cohortscheduleline.getCohort().getCohortId()}">cohort</td>
            <td th:text="${#temporals.format(cohortscheduleline.getDate(),'dd/MMM/yyyy')}">datum</td>
            <td th:text="${cohortscheduleline.getDay()}">dag</td>
            <td th:text="${cohortscheduleline.getDaypart()}">dagdeel</td>
            <td th:text="${cohortscheduleline.getUser().getLastName()}">user</td>
            <td th:text="${cohortscheduleline.getSubject().getSubjectName()}" th:id="subject">onderwerp</td>
        </tr>

        </tbody>
    </table>
    <hr>
    <br>
</div>


<br>

<div class="container">

    <div class="row">
        <form class="form-group md-6" id="subjectList">
            <div class="col-md-3">
                <label mr-sm-4><h3> Kies Vak </h3></label>
                <select id="subjectId" name="subjectId" class="form-control md-6" onchange="subjectSelect()">
                    <option class="col-md-10" th:each="vak: ${vakkenSelectAjax}" th:value="${vak.getSubjectId()}"
                            th:text="${vak.getSubjectName()}"></option>
                </select>
                <br>
                <button type="submit" class="btn btn-success">kies</button>
            </div>
        </form>
    </div>
</div>


<div class="container">
    <br>

    <table class="table table-striped" style="" table id="subjectTable">


        <thead>
        <tr>
            <th scope="col">DATUM</th>
            <th scope="col">DAG</th>
            <th scope="col">DAGDEEL</th>
            <th scope="col">DOCENT</th>
            <th scope="col">VAK</th>
        </tr>
        </thead>

        <tbody>
        <td>datum</td>
        <td>dag</td>
        <td>dagdeel</td>
        <td>user</td>
        <td>onderwerp</td>
        </tr>

        </tbody>
    </table>
    <hr>
    <br>
</div>
<script >

    function cohortSelect() {

        //get the selected id
        var cohortId = $('#cohortId').val();
        console.log("cohortId = " + cohortId);

        let dropdown = document.getElementById('dropdown');
        dropdown.length = 0;

        let defaultOption = document.createElement('option');
        defaultOption.text = 'Kies week';

        dropdown.add(defaultOption);
        dropdown.selectedIndex = 0;


        let request = new XMLHttpRequest();
        request.open('GET', '/teacherSchedule/' + cohortId, true);
        request.setRequestHeader('Content-Type', 'application/json');
        request.setRequestHeader('Accept', 'application/json');
        request.send(cohortId);

        request.onload = function () {
            if (request.status == 200) { // analyze HTTP status of the response

                console.log(`Done, got ${request.response.length} bytes`);
                // haal de data uit de request
                let weken = JSON.parse(request.response); // de data is in ASCII format, nu nog naar object omzetten
                let option;
                for (let i = 0; i < weken.length; i++) {
                    option = document.createElement('option');
                    option.text = weken[i];
                    option.value = weken[i];
                    dropdown.add(option);
                    console.log(option);
                }
            } else {
                console.log("Reached the server, but it returned an error");
            }


                //get the url for the ajax call
                // var url = "/teacherSchedule/" + cohortId;

                //do the ajax call
                //    $.get(url, populateSubjects);

                // $.ajax({
                //     type: "GET",
                //     url: "/teacherSchedule/" + cohortId,
                //     async: true,
                //
                //     success: function (response) {
                //         console.log("De weken zijn " + response.valueOf());
                //         let listweken = JSON.parse(response.split);
                //        console.log(listweken);
                //     },
                //     error: function (response) {
                //         alert('Er ging iets mis...');
                //     }
                // });


            }

            // function populateSubjects(data) {
            // var status = data.responseStatus;
            //
            // //check the response to make sure it's ok
            // if (status == "Ok") {
            //     var response = data.response;
            //     console.log(response);
            //
            //     //get the JSON data
            //     var subjectName = response.subjectId.getAttribute();
            //     console.log(subjectName.valueOf());
            //

            //set the profile badge values
            // $('#employeePic').attr("src", imageFile);
            // $('#employeeName').html(firstName + ' ' + lastName);
            // $('#employeeDepartment').html(department);

            //set the input field values
            // $('#employeeFirstName').val(firstName);
            // $('#employeeLastName').val(lastName);
            // $('#employeeDept').val(department);
            // $('#employeeId').val(employeeId);
            // $('#employeeHours').val(hoursPerWeek);

            //show the hidden elements
            //     $('#profileRow').css('visibility','visible');
            // }


    }

</script>

</body>
</html>