<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooster</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--    <link rel="stylesheet" type="text/css" th:href="mystyle.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<h1> Dit is het rooster</h1>

<!-- Navigatie-menu -->
<ul class="navbar">
    <li><a href="//localhost:8081/showTasks/">Ga naar vactureoverzicht</a></li>
    <li><a href="//localhost:8081/timeTable/"> Ga naar weekrooster</a></li>
</ul>

<p th:text = " 'Hello, ' +  ${name} "> </p>

<div class="container">

<div class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Semester
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col" th:text = " 'dit is een naam' + ${name}">#</th>
        <th scope="col">maandag</th>
        <th scope="col">dinsdag</th>
        <th scope="col">woensdag</th>
        <th scope ="col">donderdag</th>
        <th scope ="col">vrijdag</th>
        <th scope ="col">zaterdag</th>
        <th scope ="col">zondag</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>niet beschikbaar</td>
        <td>niet beschikbaar</td>
        <td>niet beschikbaar</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>niet beschikbaar</td>
        <td>niet beschikbaar</td>
        <td>niet beschikbaar</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>niet beschikbaar</td>
        <td>niet beschikbaar</td>
        <td>niet beschikbaar</td>
    </tr>
    </tbody>
</table>
</div>

</body>
</html>