<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Rooster</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>

</head>


<nav class="navbar navbar-dark bg-dark">
    <a class="nav-link" href="/helloTeacher">MIJN INZET HOME</a>
    <a class="nav-link" href="/showTasks">VACATUREBEHEER</a>
    <a class="nav-link" href="/applicationBasket">SOLLICITATIEMAND</a>
    <a class="navbar-brand" href="/schedule">ROOSTERBEHEER</a>
    <a class="nav-link" href="/showSubjects">VAKKENBEHEER</a>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-lg btn-primary">Log Out</button>
        <!--    <a class="nav-link" type="submit">UITLOGGEN</a>-->
    </form>
</nav>




<form action="#" id="scheduleform" th:action="@{/updateSchedule/}" th:object="${staffavailibility}" method="post">

    <label for="cohort">cohort</label>
    <input type="text" th:field="*{cohort}" th:value="${cohort}" id="cohort" name="cohort" placeholder="Cohort">
    <label for="dag">dag</label>
    <input type="text" th:field="*{day}" id="dag" placeholder="Dag">
    <label for="dagdeel">dagdeel</label>
    <input type="text" th:field="*{dayPart}" id="dagdeel" placeholder="Dagdeel">
    <label for="kleur">kleur</label>
    <input type="text" th:field="*{colorOption}" id="kleur" placeholder="kleur" name="kleur">

    <input type="submit" value="Update schedule"  form="scheduleform">
</form>



</head>
<body>

</body>
</html>