<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooster</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>

</head>

<!-- Navigatie-menu -->
<nav class="navbar navbar-fixed-top navbar-dark bg-dark">
    <div class ="container">

        <a class="navbar-brand" href="#">Mijn Inzet</a>

        <ul class="nav">
            <li class ="navbar-link"><a class ="nav-link" href="//localhost:8081/showTasks/">Ga naar vactureoverzicht</a></li>
            <li class="navbar-link"><a class="nav-link" href="//localhost:8081/schedule/"> Ga naar weekrooster</a></li>
            <li class="navbar-link"><a class="nav-link" href="//localhost:8081/hello">Ga naar hoofdmenu</a></li>
        </ul>
    </div>
</nav>


    <form action="#" th:action="@{/updateSchedule/{id}(id=${staffavailibility.id})}" th:object="${staffavailibility}" method="post">
        <label for="cohort">cohort</label>
        <input type="text" th:field="*{cohort}" id="cohort" placeholder="Cohort">
        <label for="dag">dag</label>
        <input type="text" th:field="*{day}" id="dag" placeholder="Dag">
        <label for="dagdeel">dagdeel</label>
        <input type="text" th:field="*{dayPart}" id="dagdeel" placeholder="Dagdeel">
        <label for="kleur">kleur</label>
        <input type="text" th:field="*{colorOption}" id="kleur" placeholder="kleur">

        <input type="submit" value="Update schedule">
    </form>

</head>
<body>

</body>
</html>