<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Rooster</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>

</head>


<nav class="navbar navbar-dark bg-dark">
    <a class="nav-link" href="/helloTeacher">MIJN INZET HOME</a>
    <a class="nav-link" href="/showTasks">VACATUREBEHEER</a>
    <a class="nav-link" href="/applicationBasket">SOLLICITATIEMAND</a>
    <a class="navbar-brand" href="/schedule">ROOSTERBEHEER</a>
    <a class="nav-link" href="/showSubjects">VAKKENBEHEER</a>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-lg btn-primary">Log Out</button>
        <!--    <a class="nav-link" type="submit">UITLOGGEN</a>-->
    </form>
</nav>




<form action="#"  th:action="@{/update/timeschedule}" th:object="${staffavailibility}" method="post">

    <label th:text="id">Id</label>
    <input type="text" th:field="*{id}" th:value="*{id}" id="id" name="id" placeholder="Id">
    <label th:text="Cohort">Cohort</label>
    <input type="text" th:field="*{cohort}"/> >
    <label th:text="Dag">Dag</label>
    <input type="text" th:field="*{day}" th:value="*{day}" />
    <label th:text="Dagdeel">Dagdeel</label>
    <input type="text" th:field="*{dayPart}" th:value="*{dayPart}"/> >
    <label th:text="Kleur">Kleur</label>
    <input type="text" th:field="*{colorOption}" th:value="*{colorOption}" />

    <input type="submit" value="Update schedule"  >
</form>



</head>
<body>

</body>
</html>