<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Jobs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav role="navigation">
    <ul>
        <li><a href="/hello">Home</a></li>
        <li><a href="/showTasks">Show Tasks</a></li>
    </ul>
</nav>
<table>
    <tr>
        <th>User name</th>
        <th>Password</th>

    </tr>

    <tr th:each="user:${users}">
        <td th:text="*{user.username}">username</td>
        <td th:text="${user.password}">password</td>

    </tr>
</table>
</body>
</html>