<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welkomstscherm</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/myclass.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/logo.css}"/>
    <style type="text/css">

    </style>
</head>

<body>

<!-- Navigatie-menu -->
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">HOME</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Log Out</button>
                </form>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>



<br><br><br>
<body class="text-center" onload="showButton()">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <div class="jumbotron">

                <img th:src="@{/images/logoo.jpg} " th:width="200px" th:height="200px" >
            </div>
        </div>
    </header>

    <main roleName="main" class="inner cover">
        <h2 class="cover-heading">Welkom </h2>
        <h2 STYLE="color: blue"><span th:text="${user.toString()}"></span></h2>


        <h2 style="color:#2E3279 ">Selecteer een scherm: </h2>
        <nav class="nav nav-masthead justify-content-center">
        </nav>

        <div class="container">

            <p class="ADMINButton">
                <a th:id="ADMIN" href="/helloAdmin" class="btn btn-lg btn-primary" style="display:none; float: left;margin-left:20%;margin-right: 10px">ADMINISTRATEUR</a>
            </p>

                <p class="COORDINATORButton" style="float: left; margin-left:10px;margin-right: 10px">
                    <a th:id="COORDINATOR" href="/helloCoordinator" class="btn btn-lg btn-primary" style="display:none">COORDINATOR</a>
                </p>

                <p class="TEACHERButton">
                    <a th:id="TEACHER" href="/helloTeacher" class="btn btn-lg btn-primary" style="display:none;float: left; margin-left: 10px;margin-right: 10px">DOCENT</a>
                </p>



                <p class="SCHEDULERButton">
                    <a th:id="SCHEDULER" href="/helloScheduler" class="btn btn-lg btn-primary" style="display:none; float: left; margin-left: 10px;margin-right: 10px">ROOSTERAAR</a>
                </p>



        </div>

    </main>

</div>

<footer class="mastfoot mt-auto">
    <div class="inner">
        <br><br>
        <p>
        <address>voorjaar 2019<br>Team 3 NoPressure: Esther, Brahim, Semih, Ozgur, Hans</address>
        </p>
    </div>
</footer>
<script th:inline="javascript">
    var roleArray = [[${roles}]];
    var arrayLength = roleArray.length;

    function showButton() {

        for (var i = 0; i < arrayLength; i++) {
            console.log(roleArray[i]);

            if (roleArray[i] === "ADMIN") {

                document.getElementById("ADMIN").style.display = "block";

            } else if (roleArray[i] === "SCHEDULER") {

                document.getElementById("SCHEDULER").style.display = "block";

            } else if (roleArray[i] === "COORDINATOR" || roleArray[i] === "MANAGER") {

                document.getElementById("COORDINATOR").style.display = "block";

            } else if (roleArray[i] === "TEACHER") {

                document.getElementById("TEACHER").style.display = "block";
            }
        }

    }
</script>
</body>
</body>

</html>